main {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr repeat(2, 5vw) 1fr;
  grid-template-rows: 1fr repeat(2, 5vw) 1fr;
  grid-template-areas:
    "a a a b"
    "c e e b"
    "c e e b"
    "c d d d";
}
.center {
  grid-area: e;
}
.row {
  display: grid;
}
.tile {
  transform: rotate(90);
}
